<h1>Activities</h1>
<% @activities.each do |activity| %>
<h5>Date: <%= activity.start_time %> </h5>
<p>Duration: <%= activity.duration %></p>
<p>Calories: <%= activity.calories %></p>
<p>Distance: <%= activity.distance %></p>
<% end %>